body {
    background-image: url('./BackG.jpg');
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator {
    background-color: #000000;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-right: 10px;
    margin-top: 10px;
    position: relative;
}

.display {
    background-color: #fff;
    border: 2px solid #000; 
    border-radius: 10px;
    font-size: 24px;
    height: 50px;
    margin-bottom: 10px;
    padding: 10px;
    text-align: right;
    width: calc(82% - 40px);
    margin-top: 20px;
}

button {
    background-color: #dcdcdc;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    height: 50px;
    margin: 5px;
    width: 50px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #b0b0b0;

}
.panel {
    background-color: #fdf8f8;
    border: 2px solid #000;
    border-radius: 10px;
    padding: 10px;
    text-align: left;
    max-height: 450px;
    overflow-y: auto;
    width: 200px;
    text-align: center;
    
  }
  
  #clear-history {
    margin: auto;
    display: block;
    width: 100px;
    height: 20px;
    font-size: 15px;
    background-color: #0e0d0d;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  #clear-history:hover {
    background-color: #0e0d0d;
  }